/*.js
/Repositories/*.js
/Controllers/*.js
/Models/*.js
/Entities/*.js
/Forms/*.js
/Services/*.js
/Fixtures/*.js
/Core/*.js
!/Core/env.example.js
/Medias/*
!/Medias/.gitkeep
/ssl/*
!/ssl/.gitkeep
/node_modules
